@page "{Username:minlength(2)}"
@model Tupla_Web_Store.Pages.User.uModel
@{
    ViewData["Title"] = "u";
}
@if (Model.Edit != null)
{
    <div class="alert alert-info">@Model.Edit</div>
}
<h2>@Model.User.Username</h2>
<div>
    First name: @Model.User.First_name
</div>
<div>
    Last name: @Model.User.Last_name
</div>
<div>
    Email: @Model.User.Email
</div>
<div>
    Telephone: @Model.User.Telephone
</div>
<div>
    Gender: @Model.User.Gender
</div>
<div>
    Date of birth: @Model.User.Date_of_birth
</div>
<div>
    Address: @Model.User.Address
</div>
<div>
    Zip code: @Model.User.Zipcode
</div>
<div>
    Country: @Model.User.Country
</div>
<div>
    Company ID: @Model.User.CompanyID
</div>
<div>
    Become member since: @Model.User.UserCreateDate
</div>
<a class="btn btn-lg" asp-page="./Edit" asp-route-Username="@Model.User.Username">
    <i class="fas fa-edit"></i>
</a>
<a asp-page="../Customers" class="btn btn-dark">All Users</a>