@page
@model Tupla_Web_Store.Pages.CustomersModel
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchUser" />
            <span class="input-group-btn">
                <button class="btn btn-outline-dark">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    @foreach (var customer in Model.Customers)
    {
        <tr class="row">
            <td class="col-sm-4">@customer.Username</td>
            <td class="col-sm-5">@customer.Email</td>
            <td class="col-sm-1">@customer.CompanyID</td>
            <td class="col-sm-1">
                <a class="btn btn-lg" asp-page="./User/u" asp-route-Username="@customer.Username">
                    <i class="fas fa-search-plus"></i>
                </a>
            </td>
            <td class="col-sm-1">
                <a class="btn btn-lg" asp-page="./User/Edit" asp-route-Username="@customer.Username">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="./User/Create" class="btn btn-outline-dark">Add new user</a>