@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <body>

        <div class="container">

            <div id="carousel-index" class="carousel slide carousel-index-css" data-ride="carousel">

                <ul class="carousel-indicators">
                    @{int i = 0;
                        @foreach (var item in Model.piclist)
                        {
                            if (i == 0)
                            {
                                <li data-target="#carousel-index" data-slide-to="@i" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#carousel-index" data-slide-to="@i"></li>
                            }
                            i++;
                        }
                    }
                </ul>


                <div class="carousel-inner">
                    @{bool isFirst = true;
                        @foreach (var item in Model.piclist)
                        {
                            if (isFirst)
                            {
                                <div class="carousel-item active">
                                    <a class="pb-1" asp-page="./g/Detail" asp-route-id="@item.Key.GameId">
                                        <img class="img-fluid" src="@item.Value" asp-append-version="true" />
                                    </a>
                                </div>
                                isFirst = false;
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <a class="pb-1" asp-page="./g/Detail" asp-route-id="@item.Key.GameId">
                                        <img class="img-fluid" src="@item.Value" asp-append-version="true" />
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#carousel-index" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#carousel-index" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>
    </body>
