@page "{id:int?}"
@model Tupla_Web_Store.Pages.g.DetailModel

@using Microsoft.AspNetCore.Identity
@using Tupla_Web_Store.Areas.Identity.Data
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    Model.DeleteTag.gameid = Model.Game.GameId;
    Model.AddTag.gameid = Model.Game.GameId;
}
<style>
    .testimonial-group > .row {
        display:block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .testimonial-group > .row > .img-fluid {
        display: inline-block;
        float: none;
    }
</style>
<script type="text/javascript">
    function readPath(input) {
        $('img.profile')
            .attr('src', input);
    }
</script>

<div>
    <h1>@Html.DisplayFor(model => model.Game.GameName)</h1>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <!--Video and image-->
            @{ var first = "~/img/" + Model.gamePicture.First().Path; }
            <div class="col-md-12">
                <img class="profile img-fluid" src="@first" asp-append-version="true"
                     style="width:760px;height:400px" />
            </div>
            <br />
            <div class="container testimonial-group">
                <div class="row">
                    @foreach (var item in Model.gamePicture)
                    {
                        var superPath = "~/img/" + item.Path;
                        <img class="img-fluid" src="@superPath" asp-append-version="true"
                             style="width:160px;height:108px" onclick="readPath($(this).attr('src'))" />
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4 card">
            <div class="card-img-top">
                <!--Image icon-->
                <img class="img-fluid" src="@Model.imgDisplay" asp-append-version="true"
                     style="width:100%;height:200px" />
            </div>
            <div class="card-body">
                <div class="card-text">
                    @Html.DisplayFor(model => model.Game.Description)
                </div>
                <dl class="card-text">
                    <dt>@Html.DisplayNameFor(model => model.Game.ReleaseDate)</dt>
                    <dd>@Html.DisplayFor(model => model.Game.ReleaseDate)</dd>
                </dl>
                <div>
                    <!--tag here-->
                    @if (Model.list != null)
                    {
                        foreach (var item in Model.list.Take(6))
                        {
                            <a class="px-2 py-1 badge badge-dark text-white">
                                @item.Key
                            </a>
                        }
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button type="button" class="btn-dark rounded" data-toggle="modal" data-target="#Modal">
                            <i class="fas fa-plus"></i>
                        </button>
                    }
                    else
                    {
                        <a class="px-2 py-1 btn-dark rounded" asp-area="Identity" asp-page="/Account/Login"
                           asp-route-returnUrl="@HttpContext.Request.Path.ToUriComponent()">
                            <i class="fas fa-plus"></i>
                        </a>
                    }
                </div>
                <br />
                <form method="post" asp-page="../c/Index">
                    <div class="form-group">
                        <input asp-for="@Model.Game.GameId" name="gameid" hidden />
                        <div class="col-lg-12">
                            <select asp-items="@Model.ListOfSupportedPlatform" name="platformid">
                            </select>
                        </div>
                        <div class="col-lg-12 btn-group">
                            <div class="btn btn-dark">
                                @Html.DisplayFor(model => model.Game.Price)
                            </div>
                            <input type="submit" class="btn btn-success" value="Add to basket">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        @if (SignInManager.IsSignedIn(User))
        {
            Model.wish.GameId = Model.Game.GameId;
            <form method="post">
                <input asp-for="@Model.wish.GameId" hidden />
                <input asp-for="@Model.wish.Username" hidden />
                <button class="btn btn-dark" type="submit">
                    @if (Model.wish.Username != null)
                    {<i class="far fa-check-square"></i>} Wishlist
                </button>
            </form>
        }
    </div>
    @if (Model.yourReview != null)
    {
        <div class="row">
            <div class="col-xl-8">
                <!--Review this game-->
                <h2>Review</h2>
                <form method="post" asp-page="./ReviewControl">
                    <input asp-for="@Model.yourReview.GameId" hidden />
                    <input asp-for="@Model.yourReview.OrderId" hidden />
                    <input asp-for="@Model.yourReview.PlatformId" hidden />
                    <div class="form-group btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" asp-for="@Model.yourReview.Recommended"
                                   value="true" checked><i class="far fa-thumbs-up"></i> Recommended
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" asp-for="@Model.yourReview.Recommended"
                                   value="false"><i class="far fa-thumbs-down"></i> Not Recommended
                        </label>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="@Model.yourReview.Review_Detail" class="form-control"></textarea>
                        <span asp-validation-for="@Model.yourReview.Review_Detail" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-success" />
                </form>
            </div>
        </div>
        <hr />
    }
    <div class="row">
        <div class="col-xl-8">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Game.HtmlText ?? ""))
        </div>
        <div class="col-xl-4">

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xl-8">
            <h3>Reviews</h3>
            <hr />
            <!--Review here-->
            @if (Model.ReviewList.Any())
            {
                foreach (var item in Model.ReviewList)
                {
                    <div class="row">
                        <div class="col-1">
                            <!--Image-->
                            <img src="@item.Path" width="30" height="30" asp-append-version="true" />
                        </div>
                        <div class="col-3">
                            <!--Name-->
                            @item.Username
                        </div>
                        <div class="col-8">
                            <!--Review-->
                            <div class="row">
                                @if (item.Review.Recommended)
                                {
                                    <div>
                                        <i class="far fa-thumbs-up"></i> Recommended
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <i class="far fa-thumbs-down"></i> Not Recommended
                                    </div>
                                }
                            </div>
                            <div class="row">
                                @item.Review.Review_Detail
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Edit tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--Body of modal-->
                    <div class="col-sm-6 border-right">
                        <h6>Popular tags</h6>
                        <div class="row">
                            <!--Tag popular-->
                            @if (Model.list != null)
                            {
                                foreach (var item in Model.list)
                                {
                                    <div class="col-12">
                                        @item.Key
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h6>Your tags in @Model.Game.GameName</h6>

                        <!--User tag-->
                        @if (Model.userTag.Any())
                        {
                            foreach (var item in Model.userTag)
                            {
                                Model.DeleteTag.tagid = item.TagId;
                                <div class="row">
                                    <form method="post">
                                        <div class="input-group my-auto">
                                            <div class="col-9">
                                                <span class="col-11  my-auto">@item.TagName</span>
                                            </div>
                                            <input asp-for="@Model.DeleteTag.gameid" hidden />
                                            <input asp-for="@Model.DeleteTag.tagid" hidden />
                                            <div class="col-1">
                                                <input class="btn-danger" type="submit" value="&times;"
                                                       style="width:30px; height:30px" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            }
                        }
                        <hr />
                        <h6>Add new tags</h6>
                        <div>
                            <form method="post">
                                <div class="input-group rounded">
                                    <input asp-for="@Model.AddTag.gameid" hidden />
                                    <input asp-for="@Model.AddTag.tag" class="form-control" />
                                    <span asp-validation-for="@Model.AddTag.tag" class="text-danger"></span>
                                    <input type="submit" class="btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>